/* Font selection, title, navbar, navtabs white background content div */
html {
  font-family: 'Orienta', sans-serif;
}

body {
  font-family: 'Orienta', sans-serif;
  background-color: #000010;
}

h1 {
  font-family: 'Sirin Stencil', cursive;  
  text-align: center;  
  font-size: 72pt;
  margin-bottom: 75px;
}

.navbar-header {
font-family: 'Sirin Stencil', cursive;
}

.nav-tabs {
  padding-left: 15px;
}

/* Source: box shadow http://stackoverflow.com/questions/11997032/how-to-get-box-shadow-on-left-right-sides-only */
#white-background-div {
  bottom: 0;
  top: 0;
  position: absolute;
  background-color: white;
  z-index: -1;
  /* box-shadow: 12px 0 5px -8px #999999, -12px 0 5px -8px #999999; */
}


.card {
  margin-top: 30px;
  text-align: center;
}

#save-all {
  margin-top: 15px;
}

.thumbnail-image{
  width: 75px;
  height: 75px;
  border: solid 1px grey;
  padding: 5px;
  /*from https://www.w3.org/Style/Examples/007/center.en.html**/
  display: block;
  margin-left: auto;
  /*margin-right: auto;*/
}

.inputted_quantity {
  width: 50px !important;
  height: 35px !important;
  text-align: center;
  overflow: auto;
}

.align-horizontally{
  display: inline-block;
  vertical-align: bottom;
  float: none;
}

/* from http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css*/
.same-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


.overall-container {
  margin: 50px;
}

/*from http://stackoverflow.com/questions/23943457/how-do-i-align-the-button-to-the-bottom-of-the-row-column-in-bootstrap*/
.bottom {
  position: absolute;
  bottom: 0;
}

.top {
  position: absolute;
  margin-top: 0;
}

/*centering partially from https://www.w3.org/Style/Examples/007/center.en.html*/
.right-horizontally {
  right: 0;
}

.progress {
  width: 70%;
  margin-bottom: 10px !important;
}

.no-padding {
  padding: 0 !important;
}

.bordered {
  border: solid gray;
}

.specific-height {
  height: 50px;
}

.colored-col {
  background-color: "light gray";
}

.right-align {
  text-align: right;
}

/* from http://stackoverflow.com/questions/10085723/twitter-bootstrap-add-top-space-between-rows*/
.item-row {
  margin-bottom: 30px;
}

/*from http://stackoverflow.com/questions/10420168/twitter-bootstrap-scrollable-table*/
.scrollable {
  overflow: auto;
}

.lower-col {
  height: inherit;
}

.icon-image {
  width: 125px;
  height: 125px;
}

.category {
  text-align: center;
  font-size: 20px;
}

.btn-icon {
  min-height: 100px;
}

.checkbox-inline+.checkbox-inline {
	margin-left: 0px;
  margin-top: 10px;
}

label.checkbox-inline {
  margin-top: 10px;
}

.control-label {
  margin-top: 10px;
}

.ui-datepicker {
  margin-top: 10px;
  background: white;
}

.table {
  /*width: auto;*/
  width: 66%;
  margin-top: 2%;

}

.progress-size {
  height: 20%;
}

.progress-color {
  background-color: #1A5B92;
}

.btn-text {
  background-color: #1A5B92;
  color: white;
}


td {
  position: relative;
  font-size: 16px
}

th {
  font-size: 24px
}

#quantity {
  text-align: left;
  font-family: 'Orienta', sans-serif;
}

.pencil-name {
  font-size: 18px;
}